/**
 * Health Catalyst theme for reveal.js. This is based on the Cashmere theme
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
@import "../../../node_modules/@healthcatalyst/cashmere/scss/cashmere.scss";

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $slate-gray-100;

$mainColor: $text;
$headingColor: $dark-blue;

$mainFontSize: 42px;
$mainFont: $default-font-family;
$headingFont: $default-font-family;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include dark-bg-text-color($white);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal blockquote {
  @include hc-tile();
  width: 70%;
  border-left: none;
}

$footer-height: 40px;
.footer {
  height: $footer-height;
  background-color: #384655; // Cashmere nav-bar color
  display: flex;
  flex-direction: row;
  color: $white;

  .logo {
    padding: 4px;
    background-color: $blue;
    width: $footer-height;
  }

  .flex {
    flex: 1;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}

.reveal {
  height: calc(100vh - $footer-height);
}